@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'League Spartan', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    overscroll-behavior: none;
  }

  section {
    min-height: 100vh;
    scroll-margin-top: 80px;
  }

  body {
    @apply w-full overflow-x-hidden;
  }
}
